In [1]:
#import tensorflow as tf
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import os
import glob
import seaborn as sns
sns.set(color_codes=True)
%matplotlib

Using matplotlib backend: TkAgg

In [2]:
import numpy as np

In [3]:
import glob

In [4]:
#file_=glob.glob(r'\\ussjc-share01\Engineering\Product Development\HAVANA\A3A2\AVAR\*.csv')
file_ = glob.glob(r'C:\Users\sbharadwaj\Desktop\JMP scripts\ICM40605 FT1 CMOS trim code\Google Data\*.csv')
#file_=glob.glob(r'\\ussjc-share01\Engineering\NPI Engineering\Havana\A3A2\Char\AVAR\G6G404-Z1\48units_45degC\Matlab_output\BD1\*.csv')

In [5]:
df_data=pd.read_csv(file_[0],skiprows=2,nrows=28800)#000)
#df_data=pd.read_csv(file_[0],skiprows=2,nrows=3000000)

In [6]:
df_data.head()

,#,AX1,AY1,AZ1,TEMP1,GX1,GY1,GZ1,AX2,AY2,...,GX11,GY11,GZ11,AX12,AY12,AZ12,TEMP12,GX12,GY12,GZ12
0,1,-690,-113,-157,4122,0,-19,13,-980,-117,...,-2,-16,1,-700,-20,-112,4158,1,-18,17
1,2,-690,-113,-157,4122,0,-19,13,-984,-117,...,-2,-16,1,-700,-20,-112,4158,1,-18,17
2,3,-690,-113,-157,4122,0,-19,13,-984,-117,...,-1,-15,1,-704,-18,-111,4157,1,-19,16
3,4,-690,-113,-157,4122,0,-19,13,-984,-117,...,-1,-15,1,-704,-18,-111,4157,1,-19,16
4,5,-690,-113,-157,4122,0,-19,13,-984,-117,...,-1,-15,1,-704,-18,-111,4157,1,-19,16

In [7]:
index1=np.arange(0,df_data.shape[0],5)

In [8]:
plt.figure()
to_plot=['AY'+str(x) for x in range(1,13,1)]
plt.plot(index1/1000,df_data[to_plot].values[index1,:]/4.096)
plt.xlabel('Time(s)')
plt.ylabel('AXoutput(mgee)')
plt.ylim([-100,100])

(-100, 100)

In [9]:
plt.figure()
to_plot1=['AZ'+str(x) for x in range(1,13,1)]
plt.plot(index1/1000,df_data[to_plot1].values[index1,:]/4.096)
plt.xlabel('Time(s)')
plt.ylabel('AYoutput(mgee)')
plt.ylim([-100,100])

(-100, 100)

In [10]:
plt.figure()
to_plot=['TEMP'+str(x) for x in range(1,13,1)]
plt.plot(index1/1000,df_data[to_plot].values[index1,:]/4.096)
plt.xlabel('Time(s)')
plt.ylabel('AZoutput(mgee)')
plt.ylim([900,1100])

(900, 1100)

In [11]:
plt.figure()
to_plot=['GX'+str(x) for x in range(1,13,1)]
plt.plot(index1/1000,df_data[to_plot].values[index1,:]/32.767)
plt.xlabel('Time(s)')
plt.ylabel('GXoffset(dps)')
plt.ylim([-2,2])

(-2, 2)

In [12]:
plt.figure()
to_plot=['GY'+str(x) for x in range(1,13,1)]
plt.plot(index1/1000,df_data[to_plot].values[index1,:]/32.767)
plt.xlabel('Time(s)')
plt.ylabel('GYoffset(dps)')
plt.ylim([-2,2])

(-2, 2)

In [14]:
plt.figure()
to_plot=['GZ'+str(x) for x in range(1,13,1)]
plt.plot(index1/1000,df_data[to_plot].values[index1,:]/32.767)
plt.xlabel('Time(s)')
plt.ylabel('GZoffset(dps)')
plt.ylim([-2,2])

(-2, 2)

In [13]:
plt.figure()
to_plot=['AX'+str(x) for x in range(1,13,1)]
plt.plot(index1/1000,df_data[to_plot].values[index1,:]*0.008658+25)
plt.xlabel('Time(s)')
plt.ylabel('Temperature(degC)')
plt.ylim([15,25])

(15, 25)